{% extends 'librarycore/index.html' %}

{% block maintitle %}
{{ profile }}'s Profile
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-6 card p-4">
			<p>Username: {{profile.username}}</p>
			<p>Email: {{profile.email}}</p>
			{% if profile.groups.all %}
			<p>Groups:</p>
			<ul>
				{% for group in profile.groups.all %}
				<li>{{ group }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>
</div>

{% if borrowedBooks %}
<div class="container mt-2">
	<h3>Books borrowed</h3>
	{% for book in borrowedBooks %}
	<p>{{book.instanceBook.bookName}} - <a
			href="{% url 'instance-detail' book.instanceSerialNum %}">{{book.instanceSerialNum}}</a></p>
	{% endfor %}
</div>
{% endif %}

{% endblock %}
