{% extends 'librarycore/index.html' %}

{% block maintitle %}
Author - {{author.authorName}}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		{% if isAdmin %}
		<div class="col">
			<a class="btn btn-secondary" href="{% url 'author-update' author.id %}">Update</a>
			<a class="btn btn-danger">Delete</a>
		</div>
		{% endif %}
	</div>
	<div class="row">
		<p>{{author.authorDescription}}</p>
	</div>
</div>

<div class="container">
	<h1>Books by {{author.authorName}}</h1>
	{% for book in books %}
	<a href="{% url 'book-detail' book.id %}">{{book.bookName}}</a><br />
	{% endfor %}
</div>
{% endblock %}
