{% extends 'librarycore/index.html' %}

{% block maintitle %}{{bookInstance.instanceBook.bookName}} - Instance{%endblock %}

{% block content %}
<div class="container">
	<p>{{bookInstance.instanceSerialNum}}</p>
	<p>{{bookInstance.instanceType}}</p>
</div>

{% if isAdmin %}
<div class="container" style="margin-bottom:1em;">
	<a class="btn btn-danger" href="{% url 'instance-delete' bookInstance.instanceSerialNum %}">Delete</a>
	<a class="btn btn-secondary" id="btnButtonUpdateShow" onclick="bookInstanceUpdateToggle()">Update</a>
</div>
{% endif %}

{% if isAdmin %}
<div class="container">
	<form action="{% url 'instance-update' bookInstance.instanceSerialNum %}" method="POST" id="updateInstance"
		hidden="true" class="form-inline">
		{% csrf_token %}
		<select name="instanceType" class="form-control custom-select" style="margin: 0 1em;">
			{% for insType, insTypeName in instanceTypes %}
			{% if insType == bookInstance.instanceType %}
			<option value="{{insType}}" selected>{{insTypeName}}</option>
			{% else %}
			<option value="{{insType}}">{{insTypeName}}</option>
			{% endif %}
			{% endfor %}
		</select>
		<input type="hidden" name="instanceSerialNum" value="{{bookInstance.instanceSerialNum}}">
		<br>
		<button class="btn btn-primary form-control">Edit</button>
	</form>
</div>
{% endif %}

{% if isBorrowed %}
{% if not borrowedBySelf %}
<div class="container">
	<p>This book has been borrowed.</p>
</div>
{% endif %}

{% if isAdmin%}
<div class="container">
	<p>Borrowed by <a href="{% url 'profile' borrowedBy %}">{{borrowedBy}}</a></p>
</div>
{% endif %}

{% else %}
<div class="container">
	<form method="POST" action="{% url 'instance-borrow' %}">
		{% csrf_token %}
		<input type="hidden" name="bookInstanceId" value="{{bookInstance.instanceSerialNum}}" />
		<button class="btn btn-primary">Borrow this book</button>
	</form>
</div>
{% endif %}

{% if borrowedBySelf %}
<div class="container">
	<p>This book is borrowed by you!</p>
	<form method="POST" action="{% url 'instance-return' %}">
		{% csrf_token %}
		<input type="hidden" name="bookInstanceId" value="{{bookInstance.instanceSerialNum}}" />
		<button class="btn btn-success">Return this book</button>
	</form>
</div>
{% endif %}

{% if isAdmin %}
<script>
	function bookInstanceUpdateToggle() {
		$("#btnButtonUpdateShow").attr("hidden", true);
		$("#updateInstance").attr("hidden", false);
	}
</script>
{% endif %}

{% endblock %}
