{% extends 'librarycore/index.html' %}

{% block maintitle %}
{% if book %}
Editing {{book.bookName}}
{% else %}
New book
{% endif %}
{% endblock %}

{% block content %}
<div class="container" style="margin-top:2em;">
	<form method="post" action="{% url 'book-create-update' %}">
		{% csrf_token %}

		<div class="row m-2">
			<label for="bookName">Book name</label>
			<input type="text" name="bookName" value="{{book.bookName}}" />
		</div>

		<div class="row m-2">
			<label for="bookAuthor">Book author</label>
			<input type="text" name="bookAuthor" value="{{book.bookAuthor.authorName}}" />
		</div>

		<div class="row m-2">
			<label for="bookDescription">Book description</label>
			<textarea name="bookDescription" cols="50">{{book.bookDescription}}</textarea>
		</div>

		<div class="row m-2">
			<input type="submit" value="Submit" class="btn btn-success" />
		</div>
	</form>
</div>
{% endblock %}
