{% extends 'librarycore/index.html' %}

{% block maintitle %}{{book.bookName}} - Details{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-6 card p-4">
			<p>Title: {{book.bookName}}</p>
			<p>Author: {{book.bookAuthor.authorName}} <a href="{% url 'author-detail' book.bookAuthor.id %}"><span
						class="fas fa-angle-double-right"></span></a></p>
			<p>Description: {{book.bookDescription}}</p>
		</div>
		{% if isAdmin %}
		<div class="col">
			<a class="btn btn-danger" href="{% url 'book-delete' book.id %}"><span class="fas fa-trash"></span></a>
			<a class="btn btn-secondary" href="{% url 'book-update' book.id %}"><span class="fas fa-edit"></span></a>
		</div>
		{% endif %}
	</div>
</div>

{% if isAdmin %}
<div class="container mt-4">
	<div class="row">
		<div class="col">
			<a class="btn btn-success" id="btnInstanceNewShow" onclick="instanceNewToggle()">New instance</a>
			<form method="post" id="formNewInstance" hidden="true" action="{% url 'instance-create' %}">
				{% csrf_token %}
				<input type="hidden" name="bookId" value="{{book.id}}">
				<select name="instanceType">
					{% for it1, it2 in instanceTypes %}
					<option value="{{it1}}">{{it2}}</option>
					{% endfor %}
				</select>
				<button class="btn btn-success">Create</button>
			</form>
		</div>
	</div>
</div>
{% endif %}


<div class="container mt-4">
	<hr>
	{% if instances.count == 0 %}
	<p>No copies available</p>
	{% else %}
	<h2>{{instances.count}} copies of {{book.bookName}}</h2>
	{% for instance in instances %}
	<div class="row">
		<div class="col-2">
			{% for it1, it2 in instanceTypes %}
			{% if it1 == instance.instanceType %}
			{{it2}}
			{% endif %}
			{% endfor %}
		</div>
		<div class="col">
			<a href="{% url 'instance-detail' instance.instanceSerialNum %}">{{instance.instanceSerialNum}}</a>
		</div>
		<div class="col">
			{% if instance.borrowedBy %}
			<span class="badge badge-danger">Not available</span>
			{% else %}
			<span class="badge badge-success">Available</span>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>

{% if user.is_authenticated %}
<!-- ADD NEW RATING -->
<div class="container mt-4">
	<hr>
	<div class="row card p-4">
		<h3>Rate this book</h3>
		<form method="POST" action="{% url 'rating-create' book.id %}">
			{% csrf_token %}
			<div class="form-group">
				<label for="rating">Score</label>
				<input type="number" name="score" min="0" max="10" class="form-control" />
			</div>

			<div class="form-group">
				<label for="comment">Comment</label>
				<textarea name="comment" class="form-control"></textarea>
			</div>

			<div class="form-group">
				<button class="btn btn-primary" type="submit">Rate</button>
			</div>
		</form>
	</div>
</div>
{% endif %}

<!-- Display existing ratings -->
{% if bookRatings.count > 0 %}
<div class="container mt-4">
	<h3>User ratings</h3>
	{% for rating in bookRatings %}
	<div class="row">
		<div class="col">
			<hr>
			<div class="row">
				<div class="col">
					<h5>{{rating.score}}/10 <small class="text-muted">by {{rating.user.username}}</small></h5>
				</div>
				<div class="col-2">
					{% if rating.user == user %}
					<a class="btn btn-sm btn-secondary" href="{% url 'rating-update' rating.id %}"><span
							class="fas fa-edit"></span></a>
					{% endif %}
					{% if rating.user == user or isAdmin %}
					<a class="btn btn-sm btn-danger" href="{% url 'rating-delete' rating.id %}"><span
							class="fas fa-trash"></span></a>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>{{rating.comment}}</p>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}

{% if isAdmin %}
<script>
	function instanceNewToggle() {
		$(" #btnInstanceNewShow").attr("hidden", true); $("#formNewInstance").attr("hidden", false);
	}
</script>
{% endif %}

{% endblock %}
